{% extends "admin/layout_chapter.html.twig" %}

{%  block title %}Créer un chapitre{% endblock %}

{% block script %}
    {{ parent() }}
    <script src="//cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: 'textarea',
            menubar: false,
            forced_root_block : ""
        });
    </script>
{% endblock %}

{% block body_chapter %}
        <h2 class="text-center">Création d'un formulaire</h2>
        <form action="" method="post" class="form-horizontal">
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Titre :</label>
                <div class="col-sm-5">
                    <input type="text" name="title" id="title" class="form-control" value="{{ chapter.title }}">
                </div>
                {% for error in errors if error.error == "title" %}
                    <div class="alert alert-danger col-sm-4">
                        {{ error.message }}
                    </div>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="chapter" class="col-sm-2 control-label">Texte :</label>
                <div class="col-sm-8">
                    <textarea name="chapter" id="chapter">{{ chapter.chapter | raw }}</textarea>
                </div>
                {% for error in errors if error.error == "chapter" %}
                    <div class="alert alert-danger col-sm-2">
                        {{ error.message }}
                    </div>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="publishedAt" class="col-sm-2 control-label">Publié le :</label>
                <div class="col-sm-5">
                    <input type="date" name="publishedAt" id="publishedAt" class="form-control" value="{{ chapter.publishedAt|date("Y-m-d") }}">
                </div>
                {% for error in errors if error.error == "published_at" %}
                    <div class="alert alert-danger col-sm-4">
                        {{ error.message }}
                    </div>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="published" class="col-sm-2 control-label">Publiable</label>
                <div class="col-sm-5">
                    <div class="btn-group" data-toggle="buttons" aria-required="true">
                        <label id="true" class="btn published btn-default {% if chapter.published == 1 %}active {% endif %} ">
                            <input type="radio" name="published" value="true" {% if chapter.published == 1 %}checked {% endif %} >oui
                        </label>
                        <label id="false" class="btn btn-default published {% if chapter.published == 0 %}active{% endif %}">
                            <input type="radio" name="published" value="false"  {% if chapter.published == 0 %}checked {% endif %} >non
                        </label>
                    </div>
                </div>
                {% for error in errors if error.error == "published" %}
                    <div class="alert alert-danger col-sm-4">
                        {{ error.message }}
                    </div>
                {% endfor %}
            </div>
            <div class="text-center">
                <input type="submit" value="Envoyer" class="btn btn-xs btn-info">
            </div>
        </form>
{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}
