{% extends 'admin/layout_chapter.html.twig' %}

{% block title %}les chapitres{% endblock %}


{% block body_chapter %}
        <h1 class="text-center">Les chapitres</h1>
        <div class="text-right">
            <a href="/admin/chapter/add" class="btn btn-xs btn-info">Ecrire un chapitre</a>
        </div>
        <hr>
        <table id="chapter-dataTables" class="table table-striped table-hover dataTables">
            <thead>
                <tr class=" row">
                    <th class="col-sm-4">Titre</th>
                    <th class="col-sm-4">Texte</th>
                    <th class="col-sm-1">Publiable</th>
                    <th class="col-sm-2">Date de publication</th>
                    <th class="col-sm-1">Editer Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for chapter in chapters %}
                    <tr class="row">
                        <th class="col-sm-4">{{ chapter.title }}</th>
                        <th class="col-sm-4">{{ chapter.chapter | raw | slice(0,10) }}...</th>
                        <th class="col-sm-1">{{  chapter.published == 1 ? "Oui" : "Non"}}</th>
                        <th class="col-sm-2">{{ chapter.publishedAt | date('d/m/Y') }}</th>
                        <th class="col-sm-1"><a href="/admin/chapter/edit/{{ chapter.id }}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-pencil"></i></a>    <a href="/admin/chapter/delete/{{ chapter.id }}" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-trash"></i></a></th>
                    </tr>
                {% else %}
                    <tr>
                        <th colspan="5" class="text-center">Aucun chapitres trouvé</th>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="../../src/Resources/js/chapter.dataTables.js"></script>
{% endblock %}