{% extends "admin/layout.html.twig" %}

{% block title %}Contenus{% endblock %}


{% block body %}
    <div class="well">
        <h1 class="text-center">Les contenus modifiables</h1>
        <table id="content-dataTables" class="table table-striped table-hover">
            <thead>
            <tr class="succes">
                <th>titre</th>
                <th>contenu</th>
                <th>page</th>
                <th>éditer</th>
            </tr>
            </thead>
            <tbody>
            {% for content in contents %}
                <tr>
                    <th>{{ content.title }}</th>
                    <th>{{ content.content | slice(0,50)| raw }}</th>
                    <th>{{  content.page }}</th>
                    <th><a href="/admin/content/{{ content.id }}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-edit"></i></a></th>
                </tr>
                {% else %}
                <tr>
                    <th class="text-center" colspan="5"> Aucun contenus</th>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="../../src/Resources/js/content.dataTables.js"></script>
{% endblock %}