{% extends "admin/layout_user.html.twig" %}

{% block title %}Liste visiteurs{% endblock %}

{% block body_user %}
    <h1 class="text-center">Les visiteurs</h1>
    <table id="user-dataTables" class="table table-striped table-hover">
        <thead>
        <tr class="succes row">
            <th>Pseudo</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Mail</th>
            <th>Roles</th>
            <th>Etat</th>
            <th>Editer</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="row">
                <th>{{ user.pseudo }}</th>
                <th>{{ user.username }}</th>
                <th>{{ user.firstname }}</th>
                <th>{{ user.mail }}</th>
                <th>{% for role in user.roles %}
                        {{ role }}<br/>
                    {% endfor %}</th>
                <th>{% if user.banish %}
                        Banie {% else %}
                        Non bani
                    {% endif %}</th>
                <th><a href="/admin/user/{{ user.id }}" class="btn btn-default btn-xs"><i
                                class="glyphicon glyphicon-edit"></i></a></th>
            </tr>
        {% else %}
            Aucun visiteurs bani
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="../../src/Resources/js/user.dataTables.js"></script>
{% endblock %}
