{% extends 'layout.html.twig' %}

{% block title %} {{ chapitre.tilte }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    .push-1 {
    margin-left: 40px;
    }
    .push-2{
    margin-left: 80px;
    }
{% endblock %}
{% block body %}
    <h1 class="center">{{ chapitre.title }}</h1>
    <p>{{ chapitre.chapitre | raw }}</p>

    <h2>Commentaires</h2>
    {# le visiteur est connecter ?#}
    {% if session.isconnected == false %}
        <p>
            <a href="/login">Connecter</a> vous pour laisser un commentaire sur ce chapitre.
        </p>
    {% else %}
        <form action="" method="post" class="form-horizontal well">
            <h2>{{ session.name }} laissez votre avis sur ce chapitre.</h2>
            <div class="form-group">
                <label for="commentaire" class="control-label col-sm-3"> Votre commentaire :</label>
                <div class="col-sm-7">
                    <textarea class="form-control" name="commentaire" id="commentaire" cols="30" rows="10" required></textarea>
                </div>
            <input type="hidden" name="chapitre" id="chapitre" value="{{ chapitre.id }}" required>
            </div>
            <div class="text-center">
                <input type="submit" value="Envoyer" class="btn btn-info btn-xs">
            </div>
        </form>

    {% endif %}
    <ul class="list-unstyled row">
        {% for commentaire in listCommentaires  if commentaire.commentaireParent == null %}
            <li>
                {{ include('commentaire.html.twig') }}
                <ul class="list-unstyled push-1">
                    {% for commentaire in commentaire.commentaires %}
                        <li>
                            {{ include('commentaire.html.twig') }}
                            {% if commentaire.commentaires | length > 0 %}
                                <ul class="list-unstyled push-2">
                                    {% for commentaire in commentaire.commentaires %}
                                        <li>
                                            {{ include(('commentaire.html.twig')) }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>

                    {% endfor %}
                    {% if app.username != "visiteur" %}
                        <p>
                            <a href="/login">Connecter</a> vous pour répondre à commentaire.
                        </p>
                    {% else %}
                        <form action="" method="post">
                            <label for="commentaire"> Votre commentaire</label>
                            <textarea name="commentaire" id="commentaire" cols="30" rows="10" required></textarea>
                            <input type="hidden" name="chapitre" id="chapitre" value="{{ chapitre.id }}" required>
                            <input type="hidden" name="parent" id="parent" value="{{ commentaireParents }}" required>
                            <input type="submit" value="Envoyer">
                        </form>

                    {% endif %}
                </ul>
            </li>
        {% endfor %}
    </ul>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        var btnsResponse = document.querySelectorAll("a.response");
        btnsResponse.forEach(function (btn) {

            btn.addEventListener("click", function (e) {
                    var pElt = btn.parentNode.parentNode;
                    var id = this.getAttribute('id');
                    var form = document.createElement('form');
                    addForm(id, form);
                    pElt.appendChild(form);
                    e.target.parentNode.removeChild(e.target);
                    e.preventDefault();
                }
            )
        })
        // fonction génerant le formulaire
        function addForm(id, form) {
            form.setAttribute("method", "post");
            form.setAttribute("action", "/response/"+id);
            form.classList.add("form-horizontal");
            var hElt = document.createElement("h2");
            hElt.classList.add("text-center");
            hElt.innerHTML = "Répondre ";
            var divGroup = document.createElement("div");
            divGroup.classList.add("form-group");

            var textLabel = document.createElement("label");
            textLabel.setAttribute("for", "response");
            textLabel.classList.add("control-label");
            textLabel.classList.add("col-sm-3");
            textLabel.innerHTML = "Réponse :";

            var divElt = document.createElement("div");
            divElt.classList.add("col-sm-5");

            var text = document.createElement("textarea");
            text.setAttribute("name", "response");
            text.setAttribute("id", "response");
            text.setAttribute("rows", "10");
            text.setAttribute("cols", "50");

            var divBtn = document.createElement("div");
            divBtn.classList.add("text-center");

            var button = document.createElement("input");
            button.setAttribute("type", "submit");
            button.setAttribute("value", "Répondre");
            button.classList.add("btn");
            button.classList.add("btn-xs");
            button.classList.add("btn-info");

            divElt.appendChild(text);

            divGroup.appendChild(textLabel);
            divGroup.appendChild(divElt);

            divBtn.appendChild(button);

            form.appendChild(divGroup);
            form.appendChild(divBtn);

            return form;

        }
    </script>
{% endblock %}