{% extends 'layout.html.twig' %}

{% block title %} {{ chapter.tilte }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    .push-1 {
    margin-left: 40px;
    }
    .push-2{
    margin-left: 80px;
    }
{% endblock %}
{% block body %}
    <h1 class="center">{{ chapter.title }}</h1>
    {% if chapter.publishedAt >= "now"|date("Y-m-d") %}
        <p>{{ chapter.chapter | raw }}</p>
    {% else %}
        <p>
            Le chapitre n'a pas encore été publié.<br/>
            Revenez le {{ chapter.publishedAt  | date('d/m/Y') }}
        </p>
    {% endif %}

    <h2>Commentaires</h2>
    {% include "comments.level.1.html.twig" %}
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="../src/Resources/js/addForm.js"></script>
{% endblock %}