{% extends 'layout.html.twig' %}

{% block title %} {{ chapitre.tilte }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    .push-1 {
    margin-left: 40px;
    }
    .push-2{
    margin-left: 80px;
    }
{% endblock %}
{% block body %}
    <h1 class="center">{{ chapitre.title }}</h1>
    <p>{{ chapitre.chapitre | e('html') }}</p>

    <h2>Commentaires</h2>
    {# le visiteur est connecter ?#}
    {% if app.username != "visiteur" %}
        <p>
            <a href="/login">Connecter</a> vous pour laisser un commentaire sur ce chapitre.
        </p>
    {% else %}
        <form action="" method="post">

            <label for="commentaire"> Votre commentaire</label>
            <textarea name="commentaire" id="commentaire" cols="30" rows="10" required></textarea>
            <input type="hidden" name="chapitre" id="chapitre" value="{{ chapitre.id }}" required>
            <input type="submit" value="Envoyer">
        </form>

    {% endif %}
    <ul class="list-unstyled row">
        {% for commentaire in listCommentaires  if commentaire.commentaireParent == null %}
            <li>
                {{ include('commentaire.html.twig') }}
                <ul class="list-unstyled push-1">
                    {% for commentaire in commentaire.commentaires %}
                        <li>
                            {{ include('commentaire.html.twig') }}
                            {% if commentaire.commentaires | length > 0 %}
                                <ul class="list-unstyled push-2">
                                    {% for commentaire in commentaire.commentaires %}
                                        <li>
                                            {{ include(('commentaire.html.twig')) }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>

                    {% endfor %}
                    {% if app.username != "visiteur" %}
                        <p>
                            <a href="/login">Connecter</a> vous pour répondre à commentaire.
                        </p>
                    {% else %}
                        <form action="" method="post">
                            <label for="commentaire"> Votre commentaire</label>
                            <textarea name="commentaire" id="commentaire" cols="30" rows="10" required></textarea>
                            <input type="hidden" name="chapitre" id="chapitre" value="{{ chapitre.id }}" required>
                            <input type="hidden" name="parent" id="parent" value="{{ commentaireParents }}" required>
                            <input type="submit" value="Envoyer">
                        </form>

                    {% endif %}
                </ul>
            </li>
        {% endfor %}
    </ul>

{% endblock %}