{% extends 'layout.html.twig' %}

{% block title %} Inscription {% endblock %}

{% block body %}
    <div class="well">
        <form action="" method="post" class="form-horizontal">
            <h1 class="text-center">Formulaire d'inscription</h1>
            {% for error in errors if error.error == "user" or error.error == "password" %}
                <div class="alert alert-danger">
                    {{ error.message }}
                </div>
            {% endfor %}
            <div class="form-group">
                <label for="firstname" class="control-label col-sm-2">Prénom : </label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="firstname" id="firstname" value="{{ user.firstname }}" required>
                </div>
                {% for error in errors if error.error == "firstname" %}
                    <div class="alert alert-danger col-sm-5">
                        {{ error.message }}
                    </div>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="username" class="control-label col-sm-2">Nom : </label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="username" id="username" value="{{ user.username }}" required>
                </div>
                {% for error in errors if error.error == "username" %}
                    <div class="alert alert-danger col-sm-5">
                        {{ error.message }}
                    </div>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="mail" class="control-label col-sm-2">Mail : </label>
                <div class="col-sm-5">
                    <input type="email" class="form-control" name="mail" id="mail" value="{{ user.mail }}" required>
                </div>
                {% for error in errors if error.error == "mail" %}
                    <div class="alert alert-danger col-sm-5">
                        {{ error.message }}
                    </div>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="password" class="control-label col-sm-2">Mot de passe :</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" name="password" id="password" required>
                </div>{% for error in errors if error.error == "password" %}
                <div class="alert alert-danger col-sm-5">
                    {{ error.message }}
                </div>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="passwordConfirmation" class="control-label col-sm-2">Confirmation<br/> mot de passe :</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" name="passwordConfirmation" id="passwordConfirmation"
                           required>
                </div>{% for error in errors if error.error == "passwords" %}
                <div class="alert alert-danger col-sm-5">
                    {{ error.message }}
                </div>
                {% endfor %}
            </div>
            <div class="text-center">
                <input type="submit" value="Se connecter" class="button button-s button-primary center">
            </div>
        </form>
    </div>

{% endblock %}

