{% extends 'layout.html.twig' %}
{% block title %} {{ parent() }} {% endblock %}


{% block body %}
    <div class="well">
        <h1 class="text-center">{% for content in contents if content.title == "title_index" %}{{ content.content }}
    {% endfor %}</h1>
        <p>
            {% for content in contents if content.title == "presentation" %}
                {{ content.content| raw }}
            {% endfor %}
        </p>
    </div>
    <div class="well">
        {% if chapter.published_at < "now" |date('Y-m-d') %}
            <h2 class="text-center">{{ chapter.title }}</h2>
            <p>
                {{ chapter.title }} n'a pas encore été diffusée. Vous pourrez connaître
                la suite des aventures le {{ chapter.published_at|date('d/m/Y') }}
            </p>
        {% else %}
            <h2 class="text-center"><a href="chapter/{{ chapter.id }}">{{ chapter.title }}</a></h2>
            <p>
                {{ chapter.chapter|slice(0,3) }}...
            </p>
        {% endif %}
    </div>
{% endblock %}