{% extends 'layout.html.twig' %}

{% block title %}Profil {% endblock %}

{% block body %}
    {% if success is not null %}
        <div class="alert alert-info">
            {{ success }}
        </div>
    {% endif %}
    <h1 class="text-center">Profil de : {{ user.username }}</h1>

    <form action="" method="post" class="well form-horizontal">
        {% for error in errors if error.error == "formulaire" %}
            <div class="alert alert-danger">
                {{ error.message }}
            </div>
        {% endfor %}
        <div class="form-group">
            <label for="firstname" class="control-label col-sm-3">Prénom :</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="firstname" id="firstname" value="{{ user.firstname }}">
            </div>
            {% for error in errors if error.error == "username" %}
                <div class="alert alert-danger col-sm-4">
                    {{ error.message }}
                </div>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="username" class="control-label col-sm-3">Nom :</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="username" id="username" value="{{ user.username }}">
            </div>
            {% for error in errors if error.error == "username" %}
                <div class="alert alert-danger col-sm-4">
                    {{ error.message }}
                </div>
                {% endfor %}
        </div>
        <div class="form-group">
            <label for="mail" class="control-label col-sm-3">Mail :</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="mail" name="mail" value="{{ user.mail }}">
            </div>
            {% for error in errors if error.error == "mail" %}
                <div class="alert alert-danger col-sm-4">
                    {{ error.message }}
                </div>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="oldPassword" class="col-sm-3 control-label">
                Ancien mot de passe :<br/>
                <small>Obligatoire pour enregistrer modification</small>
            </label>
            <div class="col-sm-5">
                <input type="password" class="form-control" id="oldPassword" name="oldPassword">
            </div>
            {% for error in errors if error.error == "oldPassword" %}
                <div class="alert alert-danger col-sm-4">
                    {{ error.message }}
                </div>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="password" class="control-label col-sm-3">
                Mot de passe : <br/>
                <small>Laissez vide pour garder l'ancien</small>
            </label>
            <div class="col-sm-5">
                <input type="password" class="form-control" id="password" name="password" >
            </div>
            {% for error in errors if error.error == "password" %}
                <div class="alert alert-danger col-sm-4">
                    {{ error.message }}
                </div>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="passwordConfirmation" class="control-label col-sm-3">
                Mot de passe (confirmation) : <br/>
                <small>Laissez vide pour garder l'ancien</small>
            </label>
            <div class="col-sm-5">
                <input type="password" class="form-control" id="passwordConfirmation" name="passwordConfirmation">
            </div>
        </div>
        <div class="text-center">
            <input type="submit" value="Enregistrer les changements" class="btn btn-xs btn-info">
        </div>
    </form>
{% endblock %}
